<h1>Add User</h1>

<form  class="form-horizontal" *ngIf="active" autocomplete="off" novalidate>
	<div class="form-group">
		<label for="username" class="col-sm-2 control-label">Email</label>
		<div class="col-sm-10">
			<input type="email" class="form-control" placeholder="Email" required autofocus 
				[(ngModel)]="model.username" 
				ngControl="username"
				#username="ngForm">
			<div [hidden]="username.valid || username.pristine" class="text-danger">
	        	Username is required
	        </div>
	        {{model.username}}
		</div>
		
		
	</div>

	<div class="form-group">
		<label for="password" class="col-sm-2 control-label">Password</label>
		<div class="col-sm-10">
			<input type="password" class="form-control" placeholder="Password" required  
				[(ngModel)]="model.password"
				ngControl="password"
				#passwordSpy>
		</div>
		{{model.password}}<br>
		{{passwordSpy.className}}
	</div>

	<button type="submit" class="btn btn-default" >Submit</button>
	<button type="button" class="btn btn-default" (click)="newAppUser();">New User</button>

	<br><br>{{diagnostic}}
</form>
